<h2> Tenants List </h2>

<div class="card">
  <p-table
    [value]="tenants"
    [lazy]="true"
    (onLazyLoad)="loadTenants($event)"
    (onRowSelect)="loadTenantDetailsPage($event)"
    [paginator]="true"
    [rows]="5"
    selectionMode="single"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [tableStyle]="{'min-width': '75rem'}">
    <ng-template pTemplate="caption">
      <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt2.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword"/>
      </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:22%">Name</th>
        <th style="width:22%">Email</th>
        <th style="width:22%">Phone</th>
        <th style="width:12%">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tenant>
      <tr [pSelectableRow]="tenant">
        <td>{{ tenant.lastName }}, {{ tenant.firstName }}</td>
        <td>{{ tenant.email }}</td>
        <td>{{ tenant.phone | formatPhone }}</td>
        <td>
          <span [ngClass]="{
              'status-active': tenant.status === 'ACTIVE',
              'status-inactive': tenant.status === 'INACTIVE',
              'status-blacklisted': tenant.status === 'BLACKLISTED'
            }">
            {{ tenant.status }}
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No tenants found.</td>
      </tr>
    </ng-template>

  </p-table>


</div>


